@@include('partials/head.tpl', { "title": "Landing page" })
@@include('partials/header.tpl')
<div class="main" id="main-content">
    <div class="container">
        <div class="row">
            <div class="col-12 title col-md-8">
                <h2>Behind the name</h2>
                <p class="text">We focus on bitters cornhole blue bottle, lyft DIY hot chicken woke forage irony
                    dreamcatcher af actually. Bicycle rights direct trade venmo locavore, sustainable la croix kitsch
                    poke.</p>
            </div>
        </div>
    </div>
    <div class="people">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="person">
                        <div class="person__photo">
                            <img src="http://lorempixel.com/65/65/people"/>
                        </div>
                        <div class="person__name">
                            <h3>Espen Sivertsen</h3>
                        </div>
                        <div class="person__position">
                            <p class="text">
                                Chief Executive Officer
                            </p>
                        </div>
                        <div class="person__description">
                            <p class="text">
                                As founder and CEO of Ivaldi Group, Espen brings a decade of startup and innovation
                                experience to the team, having most recently co-founded and led 3D printer manufacturer
                                Type A Machines from initial production to seven digit (USD) revenues.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="person">
                        <div class="person__photo">
                            <img src="http://lorempixel.com/65/65/people"/>
                        </div>
                        <div class="person__name">
                            <h3>Stefani Pellinen-Chavez</h3>
                        </div>
                        <div class="person__position">
                            <p class="text">
                                Chief Operating Officer
                            </p>
                        </div>
                        <div class="person__description">
                            <p class="text">
                                Stefani is founder and COO of Ivaldi Group. Her expertise lies in identifying new
                                opportunities and systems to generate higher efficiency and better customer experiences,
                                and in refining existing systems to generate improved outcomes.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
            <hr class="divider">
        </div>

    </div>
    <div class="contact">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-8">
                    <h2>Contact us</h2>
                    <p class="text">
                        We focus on bitters cornhole blue bottle, lyft DIY hot chicken woke forage irony dreamcatcher af
                        actually. Bicycle rights direct trade venmo locavore, sustainable la croix kitsch poke.
                    </p>

                </div>

                <div class="col-12 col-md-6">
                    <form action="">
                        <div class="input-group">
                            <label for="">Subject</label>
                            <div class="radio-btns-conatiner">
                                <div class="radio-container">
                                    <input name="subject" type="radio" id="radio-sales">
                                    <label for="radio-sales" class="radio-label">Sales</label>
                                </div>
                                <div class="radio-container">
                                    <input name="subject" type="radio" id="radio-investor">
                                    <label for="radio-investor" class="radio-label">Investor</label>
                                </div>
                                <div class="radio-container">
                                    <input name="subject" type="radio" id="radio-other">
                                    <label for="radio-other" class="radio-label">Other</label>
                                </div>
                            </div>

                        </div>
                        <div class="input-group">
                            <label for="name" class="placeholder">Name</label>
                            <input type="text" id="name">
                        </div>
                        <div class="input-group">
                            <label for="email" class="placeholder">Email</label>
                            <input type="email" id="email">
                        </div>
                        <div class="input-group has-textarea">
                            <label for="textarea" class="placeholder" >Message</label>
                            <textarea name="" id="textarea" cols="30" rows="10" placeholder=""></textarea>
                        </div>
                        <button type="submit" class="btn-text">Send message</button>
                    </form>

                </div>
                <div class="col-12 col-md-6">
                    <div class="address">
                        <h3 class="title">Headquarters</h3>
                        <p class="text">
                            1031 San Leandro Boulevard
                            San Leandro, CA, 94577
                            USA
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


@@include('partials/footer.tpl')