@@include('partials/head.tpl', { "title": "Style guide" })
<header class="style-guide">
    <div class="container">
        <img class="logo" src="../images/ivaldi_logo_black.svg" alt="">
        <div class="page-title">UI overview</div>

    </div>
</header>
<div class="style-guide">
    <div class="container">
        <div class="title">Typography</div>
        <hr class="divider">
        <div class="row">
            <div class="device__types col">
                <div class="device__name">Mobile</div>
                <div class="device__width">Use for 1159px - 0px</div>
            </div>
            <div class="headings col">
                <h1>Headline</h1>
                <h2>Title</h2>
                <h3>Subheader</h3>
                <p class="text">Body</p>
                <p class="text-small">Body</p>
            </div>
        </div>
    </div>
</div>
