button{
  border-radius: 100px;
  border: solid 1px rgba(255, 255, 255, .7);
  background-color: transparent;
  padding: 10px 18px;
  outline: none;
  cursor: pointer;
  &:hover{
    background-color: $white;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.08);
    &.btn-text{
      color: $orange;
    }
  }
  &.btn-text{
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    color: $white;
  }
}
.logo{
  height: 30px;
}