$orange: #f8a639;
$squash: #f69514;
$charcoal-grey: #40464f;
$slate-grey: #5e6878;
$blue-grey: #9fa8b6;
$pale-grey: #dbe0e9;
$pale-grey-two: #e3e7ee;
$white: #ffffff;
.col{
  height: 200px;
}
body{
  font-family: 'Muli' , sans-serif;
}
.divider{
  border-top: 1px solid $pale-grey-two;
}
h1{
  font-size: 35px;
  color: $charcoal-grey;
}
h2{
  font-size: 30px;
  color: $charcoal-grey;
}
h3{
  font-size: 26px;
  color: $charcoal-grey;
}
p.text{
  font-size: 17px;
  font-weight: 300;
  color: $charcoal-grey;
  line-height: 1.76;
}
p.text-small{
  font-size: 17px;
  font-weight: 300;
  color: $charcoal-grey;
}
@media (min-width: 1159px) {
  h1{
    font-size: 42px;
  }
  h2{
    font-size: 35px;
  }
  h3{
    font-size: 26px;
  }
  p.text{
    font-size: 20px;
  }
  p.text-small{
    font-size: 17px;
  }
}