.col {
  height: 200px; }

body {
  font-family: 'Muli' , sans-serif; }

.divider {
  border-top: 1px solid #e3e7ee; }

h1 {
  font-size: 35px;
  color: #40464f; }

h2 {
  font-size: 30px;
  color: #40464f; }

h3 {
  font-size: 26px;
  color: #40464f; }

p.text {
  font-size: 17px;
  font-weight: 300;
  color: #40464f;
  line-height: 1.76; }

p.text-small {
  font-size: 17px;
  font-weight: 300;
  color: #40464f; }

@media (min-width: 1159px) {
  h1 {
    font-size: 42px; }
  h2 {
    font-size: 35px; }
  h3 {
    font-size: 26px; }
  p.text {
    font-size: 20px; }
  p.text-small {
    font-size: 17px; } }

header.style-guide {
  height: 215px;
  border-bottom: 1px solid #dbe0e9; }
  header.style-guide .container {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center; }
    header.style-guide .container .logo {
      display: inline-block;
      padding-right: 25px; }
    header.style-guide .container .page-title {
      padding-left: 24px;
      font-size: 21px;
      color: #9fa8b6;
      border-left: 2px solid #dbe0e9;
      line-height: 1; }

.style-guide .title {
  margin-top: 85px;
  font-size: 24px;
  color: #40464f; }

.style-guide .device__types {
  flex-grow: 1; }
  .style-guide .device__types .device__name {
    font-size: 16px;
    font-weight: 600;
    color: #40464f; }
  .style-guide .device__types .device__width {
    font-size: 14px;
    color: #5e6878; }

.style-guide .headings {
  flex-grow: 2; }

.header {
  box-sizing: border-box;
  background-image: image-set(url(../images/img.jpg) 1x, url(../images/img@2x.jpg) 2x);
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  padding: 15px; }
  .header__top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  .header__text h1 {
    color: #ffffff;
    text-align: center; }
  .header__text .credo {
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.12); }
  .header__btn-scroll-container {
    text-align: center; }
    .header__btn-scroll-container a {
      display: inline-block;
      text-transform: uppercase;
      text-decoration: none;
      color: #ffffff;
      font-size: 14px;
      font-weight: bold;
      position: relative;
      padding-right: 20px; }
      .header__btn-scroll-container a::after {
        content: "";
        background: url("../images/icons/down-arrow.svg");
        background-size: contain;
        height: 16px;
        width: 16px;
        position: absolute;
        top: 2px;
        right: 0px; }

@media (min-width: 839px) {
  .header {
    padding: 26px;
    padding-bottom: 10px; } }

@media (min-width: 1159px) {
  .header {
    padding: 48px;
    padding-bottom: 10px; } }

@media (max-width: 1159px) {
  .header .container {
    width: 100%; } }

button {
  border-radius: 100px;
  border: solid 1px rgba(255, 255, 255, 0.7);
  background-color: transparent;
  padding: 10px 18px;
  outline: none;
  cursor: pointer; }
  button:hover {
    background-color: #ffffff;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.08); }
    button:hover.btn-text {
      color: #f8a639; }
  button.btn-text {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    color: #ffffff; }

.logo {
  height: 30px; }

.main .title h2 {
  margin-top: 65px;
  margin-bottom: 16px; }

.main hr.divider {
  margin: 35px 0 76px; }

.people {
  margin-top: 65px; }
  .people .person {
    margin-bottom: 40px; }
    .people .person__photo img {
      border-radius: 100%; }
    .people .person__name h3 {
      margin-top: 12px;
      margin-bottom: 0; }
    .people .person__position p.text {
      color: #9fa8b6;
      margin-bottom: 8px; }
    .people .person__description p.text {
      color: #5e6878; }

form {
  margin-top: 65px; }
  form .input-group {
    height: 66px;
    border-radius: 4px;
    border: solid 1px #e3e7ee;
    margin-bottom: 25px;
    padding: 2px 20px 12px 20px; }
    form .input-group.has-textarea {
      height: auto; }
    form .input-group.border-onblur {
      border: solid 1px #e3e7ee; }
    form .input-group label {
      font-size: 14px;
      color: #9fa8b6;
      margin-bottom: 0; }
    form .input-group .radio-btns-conatiner {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      form .input-group .radio-btns-conatiner .radio-container {
        display: flex;
        flex-direction: row;
        align-items: center; }
        form .input-group .radio-btns-conatiner .radio-container .radio-label {
          font-size: 17px;
          font-weight: 300;
          color: #40464f;
          margin-left: 8px; }
        form .input-group .radio-btns-conatiner .radio-container input[type="radio"] {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          border-radius: 100%;
          border: solid 1px #9fa8b6;
          width: 16px;
          height: 16px;
          position: relative; }
          form .input-group .radio-btns-conatiner .radio-container input[type="radio"]:checked {
            border: solid 1px #f8a639;
            outline: none; }
            form .input-group .radio-btns-conatiner .radio-container input[type="radio"]:checked::after {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              content: "";
              width: 6px;
              height: 6px;
              background-color: #f8a639;
              border-radius: 100%; }
    form .input-group input {
      font-family: Muli;
      width: 100%;
      outline: none;
      border: none;
      font-size: 17px;
      font-weight: lighter;
      color: #40464f; }
    form .input-group textarea {
      font-family: Muli;
      resize: none;
      border: none;
      outline: none;
      height: 140px;
      width: 100%;
      font-size: 17px;
      font-weight: 300;
      color: #40464f; }
  form button[type="submit"] {
    border: solid 1px #e3e7ee;
    width: 100%;
    padding: 17px 0; }
    form button[type="submit"].btn-text {
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 0.5px;
      color: #f8a639; }
    form button[type="submit"]:hover {
      border-radius: 100px;
      background-color: #f8a639; }
      form button[type="submit"]:hover.btn-text {
        color: #ffffff; }

.input-group .placeholder {
  font-size: 17px;
  transform: translateY(20px);
  transition: all .3s ease-out; }

.input-group.input-hovered {
  border: solid 1px #f8a639; }
  .input-group.input-hovered .placeholder {
    font-size: 14px;
    transform: translateY(0); }

footer {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #dbe0e9; }
  footer .copyright {
    margin-top: 10px;
    font-size: 12px;
    color: #5e6878; }

@media (min-width: 839px) {
  footer {
    margin-top: 100px; } }

#box {
  height: 100px;
  width: 100px;
  background-color: #f8a639;
  border-radius: 100%; }

.contact .address {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 65px; }
  .contact .address .title {
    text-transform: uppercase;
    font-size: 14px;
    color: #9fa8b6; }
  .contact .address p.text {
    text-align: center;
    color: #40464f;
    width: 245px; }

@media (min-width: 839px) {
  .contact .address {
    margin-top: 65px;
    align-items: flex-start; }
    .contact .address p.text {
      text-align: left; } }
