.contact{
  .address{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 65px;
    .title{
      text-transform: uppercase;
      font-size: 14px;
      color: $blue-grey;
    }
    p.text{
      text-align: center;
      color: $charcoal-grey;
      width: 245px;
    }
  }
}
@media (min-width: 839px) {
  .contact{
    .address{
      margin-top:65px;
      align-items: flex-start;
      p.text{
        text-align: left;
      }
    }
  }

}