footer{
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid $pale-grey;
  .copyright{
    margin-top: 10px;
    font-size: 12px;
    color: $slate-grey;
  }
}
@media (min-width: 839px) {
  footer{
    margin-top: 100px;
  }
}

#box{
  height: 100px;
  width: 100px;
  background-color: $orange;
  border-radius: 100%;
}
