form {
  margin-top: 65px;
  .input-group {
    height: 66px;
    border-radius: 4px;
    border: solid 1px $pale-grey-two;
    margin-bottom: 25px;
    padding: 2px 20px 12px 20px;
    &.has-textarea {
      height: auto;
    }
    &.border-onblur {
      border: solid 1px $pale-grey-two;
    }
    &.input-hovered {
      border: solid 1px $orange;
    }
    label {
      font-size: 14px;
      color: $blue-grey;
      margin-bottom: 0;
      position: relative;
    }
    .radio-btns-conatiner {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .radio-container {
        padding-left: 15px;
        display: flex;
        flex-direction: row;
        align-items: center;
        .radio-label {
          font-size: 17px;
          font-weight: 300;
          color: $charcoal-grey;
          margin-left: 8px;
        }
        input[type="radio"] {
          display: none;
          & + label::before {
            content: "";
            border-radius: 100%;
            border: solid 1px $blue-grey;
            width: 16px;
            height: 16px;
            position: absolute;
            display: block;
            top: 50%;
            transform: translateY(-50%);
            left: -25px;
          }
          &:checked {
            & + label::before {
              border: solid 1px $orange;
            }
            & + label::after {
              content: "";
              position: absolute;
              top: 50%;
              left: -20px;
              transform: translateY(-50%);
              width: 6px;
              height: 6px;
              background-color: $orange;
              border-radius: 100%;

            }
          }
        }
      }
    }
    input {
      font-family: Muli;
      width: 100%;
      outline: none;
      border: none;
      font-size: 17px;
      font-weight: lighter;
      color: $charcoal-grey;
    }
    textarea {
      font-family: Muli;
      resize: none;
      border: none;
      outline: none;
      height: 140px;
      width: 100%;
      font-size: 17px;
      font-weight: 300;
      color: $charcoal-grey;
    }

  }
  button[type="submit"] {
    border: solid 1px $pale-grey-two;
    width: 100%;
    padding: 17px 0;
    &.btn-text {
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 0.5px;
      color: $orange;
    }
    &:hover {
      border-radius: 100px;
      background-color: $orange;
      &.btn-text {
        color: $white;
      }
    }
  }
}

label.placeholder {
  font-size: 17px;
  transform: translateY(20px);
  transition: all .3s ease-out;
  .input-hovered > & {
    font-size: 14px;
    transform: translateY(0);
  }
}
