.header{
  box-sizing: border-box;
  background: url('../images/img.jpg');
  background:  -webkit-image-set(url(../images/img.jpg) 1x, url(../images/img@2x.jpg) 2x);
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  padding: 15px;
  &__top{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &__text{
    h1{
      color: $white;
      text-align: center;
    }
    .credo{
      font-size: 20px;
      line-height: 1.5;
      text-align: center;
      text-shadow: 0 0 1px rgba(0, 0, 0, 0.12);
    }
  }
  &__btn-scroll-container{
    text-align: center;
    a{
      display: inline-block;
      text-transform: uppercase;
      text-decoration: none;
      color: $white;
      font-size: 14px;
      font-weight: bold;
      position: relative;
      padding-right: 20px;
      &::after{
        content: "";
        background: url('../images/icons/down-arrow.svg');
        background-size: contain;
        height: 16px;
        width: 16px;
        position: absolute;
        top: 2px;
        right: 0px;
      }
    }

  }
}
@media (min-width: 839px) {
  .header{
    padding: 26px;
    padding-bottom: 10px;
  }
}
@media (min-width: 1159px) {
  .header{
    padding: 48px;
    padding-bottom: 10px;
  }
}
@media (max-width: 1159px) {
  .header{
      .container{
        width: 100%;
      }
    }

}
@media (-webkit-min-device-pixel-ratio: 2) {
  .header{
    background: url('../images/img@2x.jpg');
    background-size: cover;
    background-position: center;
  }
}
