.main{
  .title{
    h2{
      margin-top: 65px;
      margin-bottom: 16px;
    }
  }
  hr.divider{
    margin: 35px 0 76px;
  }
}
.people{
  margin-top: 66px;
  .person{
    margin-bottom:40px;
    &__photo{
      img{
        border-radius: 100%;
      }
    }
    &__name{
      h3{
        margin-top: 12px;
        margin-bottom: 0;
      }
    }
    &__position{
      p.text{
        color: $blue-grey;
        margin-bottom: 8px;

      }
    }
    &__description{
      p.text{
        color: $slate-grey;
      }
    }
  }
}
