header.style-guide{
  height: 215px;
  border-bottom: 1px solid $pale-grey;
  .container{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

    .logo{
      display: inline-block;
      padding-right: 25px;
    }
    .page-title{
      padding-left: 24px;
      font-size: 21px;
      color: $blue-grey;
      border-left: 2px solid $pale-grey;
      line-height: 1;
    }
  }
}
.style-guide{
  .title{
    margin-top: 85px;
    font-size: 24px;
    color: $charcoal-grey;
  }
  .device__types{
    flex-grow: 1;
    .device__name{
      font-size: 16px;
      font-weight: 600;
      color: $charcoal-grey;
    }
    .device__width{
      font-size: 14px;
      color: $slate-grey;
    }
  }
  .headings{
    flex-grow: 2;
  }
}